<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orenburjie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orenburjie">
        <activity android:name=".excursions.ExcursionsItemActivity"></activity>
        <activity android:name=".excursions.ExcursionsActivity" />
        <activity android:name=".EditEkskursiiActivity" />
        <activity android:name=".cultura.CultureItemActivity" />
        <activity android:name=".EditData.EditCultureDataActivity" />
        <activity android:name=".cultura.CultureActivity" />
        <activity android:name=".EditData.AddRestingPlacesActivity" />
        <activity android:name=".priroda.PrirodaItemActivity" />
        <activity android:name=".EditData.EditDataActivity" />
        <activity android:name=".priroda.PrirodaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>